<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>About</title>
  <link rel="icon" href="img/image.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>This site was create by Sy Tran. It uses data from mapbox.com and weatherstack.com!!</p>
    <img class="portrait" src="img/gamer-gaming-room-5120x2880-17525.jpg">
  </div>

  {{>footer}}
</body>
</html>