<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>help</title>
  <link rel="icon" href="img/image.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
  </div>

  {{>footer}}
</body>
</html>